<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../template/head') %>
    <%- include('../../css/addUpdateStyle') %>
</head>
<body>
    <%- include('../template/navbar') %>
    <div class="container mt-5">
        <% if(admin_name) { %>   
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>新增系統管理員</h2>
                <% if(errorMessage && errorMessage.length > 0){ %>
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong><%= errorMessage %></strong>
                </div>
                <% } %>
    
                <% if (admin_permission_level === 'Super') { %>
                <form method="POST" action="<%= baseUrl %>/adminAdd" data-bitwarden-watching="1">
                    <div class="form-group list">
                        <label for="admin_full_name" class="form-label">姓名：</label>
                        <input name="admin_full_name" type="text" class="form-control" placeholder="請輸入管理員名稱">
                    </div>
    
                    <div class="form-group list">
                        <label for="admin_name" class="form-label">帳號：</label>
                        <input name="admin_name" type="text" class="form-control" placeholder="請輸入帳號">
                    </div>
    
                    <div class="form-group list">
                        <label for="admin_password" class="form-label">密碼：</label>
                        <input name="admin_password" type="password" class="form-control" placeholder="請輸入管理員密碼">
                    </div>
    
                    <div class="form-group list">
                        <label for="admin_email" class="form-label">信箱：</label>
                        <input name="admin_email" type="email" class="form-control" placeholder="請輸入管理員信箱">
                    </div>
    
                    <div class="form-group list">
                        <label for="admin_permission_level" class="form-label">權限:</label>
                        <select class="form-select" name="admin_permission_level">
                            <option value="" disabled selected>請選擇權限</option>
                            <option value="Super">Super</option>
                            <option value="Basic">Basic</option>
                        </select>
                    </div>
    
                    <div class="form-group list_radio">
                        <label class="form-label">狀態：</label>
                        <div class="form-check div_radio">
                            <input class="form-check-input input_radio" type="radio" name="admin_disabled" value="0" id="enabled">
                            <label class="form-check-label" for="enabled">
                                啟用
                            </label>
                        </div>
                        <div class="form-check div_radio">
                            <input class="form-check-input input_radio" type="radio" name="admin_disabled" value="1" id="disabled">
                            <label class="form-check-label" for="disabled">
                                停權
                            </label>
                        </div>
                    </div>
    
                    <div class="form-group list mt-4">
                        <input type="submit" class="btn btn-success btn_margin" />
                        <a class="btn btn-secondary btn_margin" href="<%= baseUrl %>/adminList">取消</a>
                    </div>
                </form>
                <% } else { %>
                    <p style="text-align: center; color: red; margin-top: 40px;">＊您沒有權限進行此操作＊</p>
                    <div style="text-align: center; margin-top: 40px;">
                        <a class="btn btn-secondary" href="<%= baseUrl %>/adminList">返回</a>
                    </div>
                <% } %>
            </div>
            <div class="col-md-3"></div>
        </div>
        <% } else { %>
            <div class="loginContainer">
                <p class="loginText">歡迎使用「記憶術提升漢字詞學習」</p>
                <p class="loginText">請系統管理員登入系統</p>  
            </div>
        <% } %>  
    </div>
    

    <script>
    </script>
</body>
</html>
