<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../template/head') %>
    <%- include('../../css/addUpdateStyle') %>
    <style>
        p{
            margin-bottom: 0px;
        }
        .upload_btton{
            margin: 30px 0px 0px 50px;
            width: 300px;
        }
    </style>
</head>
<body>
    <%- include('../template/navbar') %>
    <div class="container mt-5">
        <% if(admin_name) { %>   
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>編輯出版產品</h2>
                <% if(errorMessage && errorMessage.length > 0){ %>
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong><%= errorMessage %></strong>
                </div>
                <% } %>
    
                <form method="POST" action="<%= baseUrl %>/update_product/<%= product.product_id %>" enctype="multipart/form-data" data-bitwarden-watching="1">  
                    
                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>編碼：</label>
                        <input name="product_number" type="text" class="form-control" placeholder="請輸入產品編碼" value="<%= product.product_number %>" >
                    </div>

                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>排序：</label>
                        <input name="product_rank" type="text" class="form-control" placeholder="請輸入產品於網站顯示的順序（如：1）" value="<%= product.product_rank %>">
                    </div>

                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>名稱：</label>
                        <input name="product_title" type="text" class="form-control" placeholder="請輸入產品名稱" value="<%= product.product_title %>">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">譯名：</label>
                        <input name="product_translation" type="text" class="form-control" placeholder="請輸入產品譯名" value="<%= product.product_translation %>">
                    </div>

                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>分類：</label>
                        <input name="product_category" type="text" class="form-control" placeholder="請輸入產品分類" value="<%= product.product_category %>">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">作者：</label>
                        <input name="product_author" type="text" class="form-control" placeholder="請輸入作者" value="<%= product.product_author %>">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">出版：</label>
                        <input name="product_publisher" type="text" class="form-control" placeholder="請輸入出版社" value="<%= product.product_publisher %>">
                    </div>

                    <%
                    const dateOptions = { year: 'numeric', month: '2-digit', day: '2-digit' };
                    const formattedDate = new Date(product.product_date).toLocaleDateString('zh-TW', dateOptions).replaceAll('/', '-');
                    %>

                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>日期：</label>
                        <input name="product_date" type="date" class="form-control" placeholder="請輸入出版日期" value="<%= product.product_date ? formattedDate : '' %>">
                    </div> 

                    <div class="form-group list">
                        <label class="form-label">簡介：</label>
                        <textarea name="product_description" class="form-control" placeholder="請輸入產品簡介" rows="4" style="width: 100%; resize: vertical;"><%= product.product_description %></textarea>
                    </div>
                    <a style="color: rgb(207, 59, 59); padding-left:70px; font-size: small;">＊建議至前台查看文字長度與圖片比例是否合適，避免文字過長導致圖片被縮小。</a>

                    <div class="form-group list">
                        <label class="form-label">譯文：</label>
                        <textarea name="product_description_foreign" class="form-control" placeholder="請輸入產品外文簡介" rows="4" style="width: 100%; resize: vertical;"><%= product.product_description_foreign %></textarea>
                    </div>
                    

                    <div class="form-group list">
                        <label class="form-label">檔名：</label>
                        <p class="form-control" readonly><%- product.product_path %></p>
                    </div>
                    <a style="color: rgb(207, 59, 59); padding-left:70px; font-size: small;">＊檔名建議使用英文，以避免顯示為亂碼。</a>

                    <div class="form-group list">
                        <label class="form-label">原圖：</label>
                        <div class="form-control">
                            <img class="img-fluid" src="../../uploads/<%= product.product_path %>" alt="Product Image">
                        </div>
                    </div>

                    <div class="form-group list">
                        <div>                       
                            <button class="btn btn-primary upload_btton"  type="button" id="uploadButton" onclick="addFileInput()">上傳新圖片</button>
                        </div>
                    </div>

                    <div class="form-group list" id="uploadContainer" >
                        <label class="form-label" id="uploadLabel"style="display: none;">新圖：</label>
                        <input type="text" name="product_path" value="<%- product.product_path %>" hidden>
                    </div>

                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>連結：</label>
                        <input name="product_link" type="text" class="form-control" placeholder="請輸入產品購買連結" value="<%= product.product_link %>">
                    </div>
                    
                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>狀態：</label>
                        <select class="form-select" name="product_publish">
                            <option value="" disabled>請選擇狀態</option>
                            <option value="publish" <% if (product.product_publish === 'publish') { %>selected<% } %>>上架</option>
                            <option value="unpublish" <% if (product.product_publish === 'unpublish') { %>selected<% } %>>下架</option>
                        </select>
                    </div>
                    
                    <div class="form-group list mt-4">
                        <input type="submit" class="btn btn-success btn_margin" onclick="return confirm('確認更新資料？');"/>
                        <button type="button" class="btn btn-warning btn_margin" id="clearButton">清空</button>
                        <a class="btn btn-secondary btn_margin" href="<%= baseUrl %>/productList">取消</a>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        <% } else { %>
            <div class="loginContainer">
                <p class="loginText">歡迎使用「記憶術提升漢字詞學習」管理系統</p>
                <p class="loginText">請系統管理員登入系統</p>  
            </div>
            
          <% } %>  
    </div>
    

    <script>
        //清空欄位
        $(document).ready(function(){
            $('#clearButton').click(function(){
                $('form').find(':input').not(':button, :submit, :reset, :hidden').val('').prop('checked', false);
            })
        })

        //上傳新圖
        function addFileInput() {
            let uploadContainer = document.getElementById('uploadContainer');
            let uploadLabel = document.getElementById('uploadLabel');

            // 檢查是否已經有 <input type="file"> 元素
            let existingInput = uploadContainer.querySelector('input[type="file"]');
            if (!existingInput) {
                // 動態生成 <input type="file"> 元素
                let fileInput = document.createElement('input');
                fileInput.type = 'file';
                fileInput.name = 'newImage';
                fileInput.className = 'form-control-file form-control';
                fileInput.addEventListener('change', displayNewImage);

                // 將新生成的元素添加到容器中
                uploadContainer.appendChild(fileInput);

                // 顯示 label
                uploadLabel.style.display = 'block';

                // 更改按鈕文字
                let button = document.getElementById('uploadButton');
                if (button) {
                    button.innerText = '取消上傳新圖片';
                }
            } else {
                // 如果已經有 <input type="file"> 元素，則刪除它
                existingInput.remove();

                // 隱藏 label
                uploadLabel.style.display = 'none';

                // 更改按鈕文字
                let button = document.getElementById('uploadButton');
                if (button) {
                    button.innerText = '上傳新圖片';
                }
            }
        }

    function displayNewImage() {
        let input = document.querySelector('input[type="file"]');
        let currentImage = document.getElementById('currentImage');

        let file = input.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                currentImage.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    }


    </script>
</body>
</html>