<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../template/head') %>
    <%- include('../../css/addUpdateStyle') %>
</head>
<body>
    <%- include('../template/navbar') %>
    <div class="container mt-5">
        <% if(admin_name) { %> 
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>新增輪播牆圖片</h2>
                <% if(errorMessage && errorMessage.length > 0){ %>
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong><%= errorMessage %></strong>
                </div>
                <% } %>
    
                <form method="POST" action="<%= baseUrl %>/carouselAdd" enctype="multipart/form-data" accept-charset="UTF-8" data-bitwarden-watching="1">    
                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>名稱：</label>
                        <input name="carousel_title" type="text" class="form-control" placeholder="請輸入圖片名稱">
                    </div>

                    <div class="form-group list">
                        <label for="formFile" class="form-label"><span class="required">*</span>上傳：</label>
                        <input class="form-control" type="file" id="carousel_path" name="carousel_path">
                    </div>
                    <a style="color: rgb(207, 59, 59); padding-left:70px; font-size: small;">＊圖檔檔名建議使用英文，以避免顯示為亂碼。</a>
                    
                    
                    <div class="form-group list">
                        <label class="form-label">連結：</label>
                        <input name="carousel_link" type="text" class="form-control" placeholder="請輸入輪播圖的廣告連結">
                    </div>

                    <div class="form-group list">
                        <label class="form-label"><span class="required">*</span>狀態：</label>
                        <select class="form-select" name="carousel_publish">
                            <option value="" disabled selected>請選擇狀態</option>
                            <option value="publish">上架</option>
                            <option value="unpublish">下架</option>
                        </select>
                    </div>
                    
                    <div class="form-group list mt-4">
                        <input type="submit" class="btn btn-success btn_margin" />
                        <button type="button" class="btn btn-warning btn_margin" id="clearButton">清空</button>
                        <a class="btn btn-secondary btn_margin" href="<%= baseUrl %>/carouselList">取消</a>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        <% } else { %>
            <div class="loginContainer">
                <p class="loginText">歡迎使用「記憶術提升漢字詞學習」管理系統</p>
                <p class="loginText">請系統管理員登入系統</p>  
            </div>
        <% } %>
    </div>
    

    <script>
        //清空欄位
        $(document).ready(function(){
            $('#clearButton').click(function(){
                $('form').find(':input').not(':button, :submit, :reset, :hidden').val('').prop('checked', false);
            })
        })
    </script>
</body>
</html>